@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add the custom font for headings */
@layer base {
  @font-face {
    font-family: "Balgin Black";
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/Balgin-Black.ttf") format("truetype");
  }
}

/* Add theme colors */
@layer base {
  :root {
    --color-text-base: rgba(51, 60, 68, 1);
    --color-text-primary: rgba(63, 91, 116, 1);
    /* --color-text-primary: rgba(0, 63, 90, .8); */
    --color-text-muted: rgba(255, 255, 255, 1);
    --color-text-accent: rgba(245, 128, 32, 1);

    --color-fill-base: rgba(255, 255, 255, 1);
    --color-fill-base-transparent: rgba(255, 255, 255, 0.9);
    --color-fill-primary: rgba(63, 91, 116, 1);
    /* --color-fill-primary: rgba(0, 63, 90, 1); */
    --color-fill-accent: rgba(245, 128, 32, 1);

    /* --color-fill-card-accent: rgba(245, 128, 32, 0.1); */
    --color-fill-card-accent: rgba(250, 235, 222, 1);

    --color-button-accent: rgba(245, 128, 32, 1);
    --color-button-accent-hover: rgba(246, 139, 51, 1);
  }
}

/* Add global styles for Markdown */
.markdown {
  white-space: pre-wrap;
}

.markdown a {
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  transition: all .3s ease-in-out;
}

.markdown a:hover {
  border-bottom: 1px solid rgba(245, 128, 32, 1);
  opacity: .9;
}