@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Balgin Black';
    font-weight: 700;
    src: url('./fonts/Balgin-Black.ttf') format('truetype');
  }
}